@{
    ViewBag.Title = "Upload Shipping documents";
}
@model InventorySample.Models.Container

<h2>Upload Shipping documents</h2>
@using (Html.BeginForm("Index", "UploadFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary();

    <label class="text-info">Upload Excel File</label>
    <input type="file" class="form-control" name="uploadfile" id="uploadfile" />
    <input type="submit" value="submit" class="btn btn-default" />

    if (Model != null)
    {

        <table class="table table-responsive table-bordered">
            @foreach (var item in Model.items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        </table>

        <label class="text-info">Items Count : @Model.items.Count</label>
    }
    <p></p>

}

<p>
    <label class="text-info">Please confirm information before insert to our database</label>
</p>

@using (Html.BeginForm("Confirm", "UploadFile", FormMethod.Post, new { }))
{
  
    @Html.HiddenFor(m => m.Id)
    @Html.LabelFor(m => m.ContainerNo)
    @Html.TextBoxFor(m => m.ContainerNo)
    
    <button type="submit">Confirm</button>
    // LAble
    // Input // disabled
    // Submit
}